.L-login {
    margin-top: 4%;
    display: grid;
    justify-content: center;
    align-items: center;

}

.L-login h2 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.l-input input,
button,h2 {
    width: 150%;
}
.color{
    color: red;
}