.L-login {
    margin-top: 4%;
    display: grid;
    justify-content: center;
    align-items: center;

}

.L-login h2 {
    font-weight: 700;
    margin-bottom: 2rem;
}

.l-input input,
.btn-primary,h2 {
    width: 150% !important;
}
.color{
    color: red;
}
@media screen and (max-width: 500px) {
    .l-input input,
    .btn-primary,h2 {
        width: 100% !important;
    }
    }